* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, arial;
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 15px;
    background-color: #F1D2CD;
}

::-webkit-scrollbar-track {
    background-color: #F1D2CD;
    width: 15px;
    border-radius: 10px;
}

::-webkit-scrollbar:horizontal{
    display: none;
}

::-webkit-scrollbar-thumb{
    background-color: #F2ADA2;
    width: 8px;
    border-radius: 15px;
    border: 3px solid #F1D2CD;
}

::-webkit-scrollbar-corner {
    background-color: #F1D2CD;
}

.upper-menu {
    max-width: 95vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #5C469C;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 0px;
    /* box-shadow: inset 0 0 10px #000; */
}

.important {
    min-width: 30%;
    margin-left: 5%;
}

.important span {
    float: left;
    color: #F2ADA2;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.important p {
    font-size: 15px;
    padding: 5px;
}

.important a {
    text-decoration: none;
    color: white;
}

.search-bar {
    width: 25%;
    height: 40px;
    background-color: #09182E;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-bottom: 10px;
    margin-left: 35%;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
}

.search-bar span {
    color: #F2ADA2;
    font-size: 2.2rem;
    margin-left: 5px;
    margin-top: 5px;
}

.icons span {
    color: #F2ADA2;
}

.icons {
    max-width: 40%;
    margin-left: 2%;
    display: flex;
}

#account {
    float: left;
    margin-right: 20px;
    font-size: 2.5rem;
}

#cart {
    float: right;
    font-size: 2.5rem;
}

.bottom-menu {
    width: 100vw;
    background-color: #7C56C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: inset 0 0 10px #211938;
}

.logo {
    width: 25%;
}

.logo img {
    margin-top: 5px;
    height: 80px;
    width: 80px;
}

.menu {
    width: 75%;
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-items: center;
}

.menu ul li{
    margin: 20px;
}

.menu li.selected {
    font-weight: bold;
    text-decoration: underline #F2ADA2 30%;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Banner home */
.banner {
    height: 600px;
    width: 100%;
    background-image: url('../img/banner-home.svg');
    margin-left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    box-sizing: content-box;
}

.banner-content h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 170px;
    letter-spacing: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 240px;
    color: #7C56C8;
}

.banner-content p {
    color: white;
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 130px;
}

.banner-btn {
    border: 4px solid #304A6D;
    border-radius: 500px;
    width: 300px;
    padding: 15px;
    background-color: #09182E;
    color: white;
    margin-top: 50px;
    margin-left: 120px;
    cursor: pointer;
}

.banner-btn:hover{
    border: 4px solid #F2ADA2;
    background-color: #5C469C;
    transition: ease 0.3s;
}

/* Diferenciais */

.diferenciais {
    width: 100vw;
    background-color: #5C469C;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    margin-top: -5px;
}

.diferencial {
    text-align: center;
    flex: 1;
}

.diferencial span {
    color: #F2ADA2;
    font-size: 120px;
    padding: 15px 0;
    display: block;
    margin: 0 auto;
}

.diferencial h2 {
    color: white;
    font-weight: 500;
}

.diferencial p {
    color: white;
    font-size: 20px;
}

/* Seção de imagem e texto */

.image-text-section, .text-image-section {
    background-color: #7C56C8; 
    color: white;
    padding: 0;
    width: 100vw;
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse; /* Inverte a ordem das colunas na segunda seção */
}

.text, .image {
    flex: 1;
    padding: 0px;
    text-align: justify;
}

.text {
    padding: 10px 20px;
}

.text p{
    font-size: 23px;
    padding: 25px;
}

.text h2 {
    font-size: 35px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* Banner contato */

.banner-contato {
    height: 600px;
    width: 100%;
    background-image: url('../img/contato.svg');
    margin-left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    box-sizing: content-box;
}

.banner-content-contato h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 170px;
    letter-spacing: 20px;
    margin-bottom: 0px;
    margin-top: 100px;
    margin-left: 220px;
    color: #7C56C8;
}

.banner-content-contato p {
    color: white;
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 130px;
}

/* Contato */

.contato {
    margin-top: -3px;
    height: 800px;
    background-color: black;
    display: flex;
}

.anya-contato {
    width: 25%;
    height: 800px;
    float: left;
}

.anya-contato img{
    margin-top: -8px;
    margin-bottom: -18px;
    width: 600px;
    height: 803px;
    border: 10px solid #7C56C8;
    background-color: black;
}

.contato-right{
    float: right;
}

.contato-right h1{
    color: #C8B3EE;
    font-weight: 400;
    font-size: 36px;
    align-self: center;
    justify-self: center;
}

.icons-contato {
    padding: 25% 50%;
    display: inline-flex;
}

.icon-zap, .icon-insta, .icon-email {
    width: 80px;
    height: 80px;
    background-color: #F2ADA2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.icon-zap img, .icon-insta img, .icon-email img {
    margin-top: -5px;
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: #F2ADA2;
}

.contato-btn {
    border: 4px solid #7C56C8;
    width: 300px;
    padding: 15px;
    background-color: #7C56C8;
    color: #F2ADA2;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 120px;
    cursor: pointer;
}

.contato-btn:hover{
    border: 4px solid #F2ADA2;
    background-color: #5C469C;
    transition: ease 0.3s;
    color: white;
}

/* Rodapé */

.footer {
    background-color: #5C469C;
    width: 100vw;
    color: white;
    margin-top: -6px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    text-align: left;
    margin-left: 80px;
}

.footer-section h2 {
    color: #F2ADA2;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-2 {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: white;
    background-color: #09182E;
}
